.item {
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: end;
  gap: 20px;
  .amount-col {
    &__button {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border: 2px $secondary-text-color solid;
      color: $secondary-text-color;
      background-color: $white-background;
      &:hover {
        background-color: $secondary-text-color;
        color: $white-background;
      }
    }
    &__text {
      margin: 0px 5px;
    }
  }
}
