.tab2 {
    margin: 110px auto;
    max-width: 1200px;
    &__title {
        color:$secondary-text-color;
        margin-left: 20px;
    }
    .beers-container {
        margin-top: 70px;
        background-color:$white-background;
        border: 1px solid $border-color-grey;
        padding: 20px;
    }
}