.shopping-cart-container {
    margin-top:20px;
    padding:20px;
    background-color: $white-background;
    text-align: right;
    .title {
        margin-bottom: 50px;
    }
    .table{
        list-style: none;
        &__header {
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        margin-bottom: 20px;
        }
        &__item {
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        }
    }
}