$body-background: #E5E5E5;
$white-background: #FFFFFF;
$primary-text-color:#003970;
$secondary-text-color: #4BA7EE;
$paragraph-text-color: #001841;
$paragraph-text-color-grey: #4E5156;
$subtitles-text-color: #105AA3;
$button-text-color: rgba(222, 225, 232, 0.376245);
$border-color: #C9E3F9;
$border-selected-color: #326C96;
$border-color-grey: #DEE1E8;
$button-color:#F9F9FB;
$select-color: #6DC138;

/* Tab2 alcohol content */
$color-high-abv:#DB171D;
$color-med-abv:#FFAB48;
$color-low-abv:#FFEF63;





