$body-background: #E5E5E5;
$white-background: #FFFFFF;
$primary-text-color:#003970;
$secondary-text-color: #4BA7EE;
$paragraph-text-color: #001841;
$subtitles-text-color: #105AA3;
$button-text-color: rgba(222, 225, 232, 0.376245);
$border-color: #C9E3F9;
$border-selected-color: #326C96;
$button-color:#F9F9FB;
$select-color: #6DC138;




