.tab2-header {
    display:flex;
    justify-content: space-between;
    &__title {
      color: $secondary-text-color;
      margin-left: 20px;
    }
    &__icon{
        cursor:pointer;
        color: $secondary-text-color;
        font-size: 20px;
        margin-right:20px;
        margin-top:7px;
    }
  }